.container {
    width: 950px;
    background-color: silver;
    padding: 15px;
}
.top-nav {
    height: 120px;
    width: 950px;
    background-color: green;
    display: inline-block;
    
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    margin: 10x;
    padding: 10px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 8px;
}
#advertisement {
    height: 120px;
    width: 670px;
    background-color: purple;
    display: inline-block;
    padding: 10px;
    margin: 5px;
}
